name: Build Switch App
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitswitch:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Game
        run: |
          # Qui non serve installare nulla, è già tutto pronto!
          cd project
          make

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: StarClash-Game
          path: project/*.nro
