name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build in Docker
        # Usiamo un'immagine che non passa dai server dkp-pacman
        run: |
          docker run --rm -v ${{ github.workspace }}:/src -w /src/project devkitpro/devkitswitch:latest /bin/bash -c "make"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Game-Switch
          path: project/*.nro
